.buttons {
    display: flex;
    gap: 10px;
}

.form_radio_btn {
    display: inline-block;
    box-sizing: border-box;
    cursor: pointer;
}
    
.form_radio_btn input[type=radio] {
    display: none;
}
    
.form_radio_btn label {
    cursor: pointer;
    padding: 10px 20px;
    height: 39px;
    border: 1px solid #888888;
    border-radius: 4px;
    box-sizing: border-box;  
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #000000; 
    background: transparent;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter', sans-serif;
}
    
.form_radio_btn label:hover {
    background: #F2F2F2;
    cursor: pointer;
}
    
.form_radio_btn input[type=radio]:checked + label {
    border: 2px solid #F36223;
    border-radius: 4px;
    background: transparent;
}
    
.form_radio_btn input[type=radio]:active + label {
    border: 2px solid #A93A09;
    background: transparent;
    border-radius: 4px;
}   
    