.sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 40px;
  flex-grow: 0;
  margin-top: 30px;
}
.sidebar-widget {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  gap: 15px;
  width: 420px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}
.sidebar-widget__cost {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
  height: 73px;
}
.sidebar-widget__last-cost-sell {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 10px;
  margin-bottom: 10px;
  height: 24px;
  margin: 0px;
}
.sidebar-widget__last-cost {
  font-size: 16px;
  height: 16px;
  color: #888888;
}
.sidebar-widget__sell {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 210px;
  padding: 4px 8px;
  gap: 10px;
  width: 47px;
  height: 24px;
  background: #f36223;
  border-radius: 500px;
  font-size: 16px;
}
.sidebar-widget__current-price {
  font-size: 32px;
  margin: 0;
}
.sidebar-widget__percent_margin_0 {
  margin: 0px;
}
.sidebar-widget__icon {
  width: 26px;
  height: 21px;
  fill: #888888;
  cursor: pointer;
}
.sidebar-widget__icon-active {
  width: 26px;
  height: 21px;
  fill: #f36223;
  cursor: pointer;
}
.sidebar-widget__delivery {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  font-size: 16px;
}
.sidebar-widget__text {
  margin: 0px;
}
.sidebar-widget__button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 15px;
  width: 380px;
  height: 64px;
  background: #f36223;
  border: 1px solid #f36223;
  border-radius: 4px;
  color: white;
  font-size: 20px;
  cursor: pointer;
}
.sidebar-widget__button-gray {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 15px;
  width: 380px;
  height: 64px;
  background: #888888;
  border: 1px solid #888888;
  border-radius: 4px;
  color: white;
  font-size: 20px;
  cursor: pointer;
}
/* .sidebar-widget__button::before {
  content: "";
  display: inline-block;
  background-image: url("../images/Корзина.svg");
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center;
} */
/* .iframe {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
  box-sizing: border-box;
}
.iframe__heading {
  color: #888888;
  font-size: 14px;
  margin: 0px;
}


.iframe__ad-block {
  width: 420px;
  height: 300px;
  background-color: #dcdcdc;
  border: 1px dashed #ccc;
} */

/* .iframe__ad-block {
  width: 420px;
  height: 300px;
  background-color: #dcdcdc;
  border: 1px dashed #ccc;
} */




@media (min-width: 1024px) and (max-width: 1499px) {
.sidebar {
  width: 360px;
  height: 991px;
}
.sidebar-widget {
  width: 360px;
  height: 313px;
}
.sidebar-widget__sell {
  margin-right: 150px;
}
.sidebar-widget__cost {
  width: 320px;
  height: 73px;
}
.sidebar-widget__icon {
  width: 26px;
  height: 21px;
}
.sidebar-widget__delivery {
  width: 320px;
  height: 106px;
}
.sidebar-widget__button {
  width: 320px;
  height: 64px;
}
.sidebar-widget__button-gray {
  width: 320px;
  height: 64px;
}
.Comparison-models {
  display: none;
}
 .iframe__ad-block {
  width: 360px;
  height: 300px;
} 
} 




.advertising {
  inset: 0;
  color: #888888;
}

.iframe__banner {
  height: 300px;
  border: 1px dashed #ccc;
  box-sizing: border-box;
  width: 100%;
  background-color: #f5f5f5;
  font-size: 14px;
  font-weight: 400;
  color: #888888;
  display: flex;
  align-items: center;
  justify-content: center;
}

.iframe__banner_indent {
  margin-bottom: 15px;
}

.iframe {
  width: 100%;
}


@media screen and (min-width: 1024px) and (max-width: 1499px)  {
  .iframe__banner_indent {
      margin-bottom: 10px;
      max-width: 360px;
  }
  .iframe__banner{
    max-width: 360px;
  }
  
}
