.advertising {
    inset: 0;
    color: #888888;
}

.iframe__banner {
    height: 300px;
    border: 1px dashed #ccc;
    box-sizing: border-box;
    width: 100%;
    background-color: #f5f5f5;
    font-size: 14px;
    font-weight: 400;
    color: #888888;
    display: flex;
    align-items: center;
    justify-content: center;
}

.iframe__banner_indent {
    margin-bottom: 15px;
}


@media screen and (min-width: 1024px) and (max-width: 1499px)  {
    .iframe__banner_indent {
        margin-bottom: 10px;
    }
}
