.product-selection {
    display: flex;
    gap: 10px;
}
    
.product-selection__label label {
    border: 1px solid #888888;
    border-radius: 4px;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 10px 24.54px;
}
    
.product-selection__label input[type=radio] {
    display: none;
}
    
.product-selection__img {
    width: 30.92px;
    height: 60px;
}
    
.product-selection__img_size {
    width: 44.45px;
    height: 60px;
}
    
    
.product-selection__label label:hover {
    background: #F2F2F2;
    cursor: pointer;
}
    
.product-selection__label input[type=radio]:checked + label {
    border: 2px solid #F36223;
    background: transparent;
    cursor: pointer;
}
    
.product-selection__label input[type=radio]:active + label {
    border: 2px solid #A93A09; 
    background: transparent;
} 